.side-bar
  .header
    %h3.header__name
      = current_user.name
    %ul.header__lists
      %li.list
        = link_to new_group_path do
          = fa_icon 'pencil-square-o', class: 'icon'
      %li.list
        = link_to edit_user_path do
          = fa_icon 'cog', class: 'icon'
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません。




  .messages
    = render @messages


  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'





/ .chat__groups
/   .chat__groups__left
/     .chat__groups__left__group
/       %p group-name
/     .chat__groups__left__member
/       %p member
/   .chat__groups__edit-btn
/     %p Edit


/ .chat__messages
/   .chat__messages__body
/     .chat__messages__body__top
/       .chat__messages__body__top__name
/         %p kataoka
/       .chat__messages__body__top__date
/         %p 2018/01/07 12:00
/     .chat__messages__body__message
/       %p こんにちは。お疲れ様です。

/   .chat__messages__body
/     .chat__messages__body__top
/       .chat__messages__body__top__name
/         %p suzuki
/       .chat__messages__body__top__date
/         %p 2018/01/07 12:05
/     .chat__messages__body__message
/       %p こんにちは。

/   .chat__messages__body
/     .chat__messages__body__top
/       .chat__messages__body__top__name
/         %p satou
/       .chat__messages__body__top__date
/         %p 2018/01/07 12:05
/     .chat__messages__body__message
/       %p こんにちは。お元気ですか？



/ .chat__footer
/   .chat__footer__form
/     %input{:class => "chat__footer__form__message", :type => "text", :placeholder => "type a message"}
/       .chat__footer__form__image
/         %label
/           %i.fa.fa-picture-o
/           %input{:type => "file", :class => "chat__footer__form__image__file"}
/     %input{:class => "chat__footer__form__send", :type => "submit", :value => "Send"}
